@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Mukta:wght@300&family=Roboto+Condensed:wght@300&family=Roboto+Mono:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow: scroll;
}

/* My styling for header nav bar */
.my-header {
    width: 100%;
        position: sticky;
        top: 0;
        z-index: 9999;
        height: 12vh;
        cursor: pointer;
    }
    
    .headerParent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 64%;
        margin: 0 18%;
    padding: 20px;

}

.headerParent .logo {
    width: 100%;
    height: 100%;
}

.header-pt2>ol {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.header-pt2>ol>li {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-weight: 700;
    list-style-type: none;
}

.hrd-link {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1.2px;
    transition: color 0.3s ease;
    position: relative;
}

.hrd-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--before-color, #fff);
    transition: width 0.3s ease;
}

.hrd-link:hover::before {
    width: 100%;
}

.my-header.is-sticky {
    background-color: #fff;
    /* Change the background color when sticky */
}
.hrd-link.clr {
    color: #404f6c !important;
}

/* my home section styling */
.first-sec {
    width: 100%;
    min-height: calc(100vh - 12vh);
    }
    
.background-img-home {
        position: absolute;
        top: 0;
        left: 0;
    right: 0;
}

.mountains {
    width: 100%;
}

.text-content-home {
    width: 38%;
    position: absolute;
    top: 31%;
        left: 43.7%;
    transform: translateX(-50%);
    text-align: center;
}

.losangeles-mountains {
    width: 100%;
    height: auto;
}
/* my about section styling */
.second-sec {
    padding-top: 40px;
}