.slide-container {
    max-width: 1000px;
    width: 100%;
    padding: 10px 0 20px 0;
}

.slide-content {
    /* margin: 0 20px; */
    overflow: hidden;
}

.card {
    margin: 10px;
    background-color: #63769d;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 100%;
    /* Adjust the width to take up the available space */
    /* margin-right: 10px !important; */
    max-width: 200px;
    /* Set a maximum width for better responsiveness */
}